

@font-face {
    font-family: 'Paperlogy';
    font-style: normal;
    font-weight: 100;
    src: url('fonts/Paperlogy-1Thin.woff') format('woff');
    src: url('fonts/Paperlogy-1Thin.woff2') format('woff2');
}

@font-face {
    font-family: 'Paperlogy';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/Paperlogy-2ExtraLight.woff') format('woff');
    src: url('fonts/Paperlogy-2ExtraLight.woff2') format('woff2');
}

@font-face {
    font-family: 'Paperlogy';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/Paperlogy-3Light.woff') format('woff');
    src: url('fonts/Paperlogy-3Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Paperlogy';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/Paperlogy-4Regular.woff') format('woff');
    src: url('fonts/Paperlogy-4Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Paperlogy';
    font-style: normal;
    font-weight: 500;
    src: url('fonts/Paperlogy-5Medium.woff') format('woff');
    src: url('fonts/Paperlogy-5Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Paperlogy';
    font-style: normal;
    font-weight: 600;
    src: url('fonts/Paperlogy-6SemiBold.woff') format('woff');
    src: url('fonts/Paperlogy-6SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Paperlogy';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/Paperlogy-7Bold.woff') format('woff');
    src: url('fonts/Paperlogy-7Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Paperlogy';
    font-style: normal;
    font-weight: 800;
    src: url('fonts/Paperlogy-8ExtraBold.woff') format('woff');
    src: url('fonts/Paperlogy-8ExtraBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Paperlogy';
    font-style: normal;
    font-weight: 900;
    src: url('fonts/Paperlogy-9Black.woff') format('woff');
    src: url('fonts/Paperlogy-9Black.woff2') format('woff2');
}

